html,
body {
    margin: 0;
    font-family: 'Courier New', monospace;
    font-weight: 600;
    font-size: 1em;
    overflow: auto;
    width: 100%;
    height: 100%;
}

a,
a:visited {
    color: inherit;
}

.screen-container {
    width: 100%;
    height: 100%;
    display: flex;
}

h1 {
    text-align: center;
}

canvas {
    z-index: -1;
}

.canvas {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    position: fixed;
}

.main-canvas {
    flex-grow: 11;
    flex-basis: 0px;
    height: 100%;
    top: 0;
}

.menu {
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 3 1 0px
}

.wide {
    width: 100%;
}

.hidden,
.hidden * {
    display: none !important;
}

.button {
    font-size: 1.15em;
    margin: 0.5em;
    background: linear-gradient(170deg, #f5940d 30%, #e2247d 70%);
    background-size: 200% 100%;
    background-position: 0px 0px;
    border-radius: 1.15em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
    position: relative;
}

.button:hover,
button:hover {
    cursor: pointer;
    background-position-x: 40%;
}

.button::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -0.3em;
    height: 100%;
    width: 45%;
    opacity: 0;
    border-radius: inherit;
    /* Declaring our shadow color inherit from the parent (button) */
    background: inherit;
    /* Transition for the magic */
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.button:hover::after {
    /* Changing blur effect */
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    /* And change the style properties */
    opacity: 0.8;
    width: 99%;
}

.no-marging-sides{
    margin-left: 0;
    margin-right: 0;
}

.drop-down-menu {
    display: block;
    position: relative;
    margin: 0.575em;
    margin-top: 0;
}

#smallCanvas {
    width: 100%;
    display: flex;
}

.controls {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: #f5940d solid 1px;
    border-radius: 1em;

    font-size: 1.25em;
}

.white {
    color: white;
}

.right {
    position: absolute;
    right: 0em;
    border-radius: 0 1em 1em 0em;
}

.left {
    position: absolute;
    left: 0em;
    border-radius: 1em 0 0em 1em;
}

.top-half {
    top: 45%;
    justify-self: center;
}

.full-h,
.full-w {
    transition: background-color 0.3s ease-in;
}

.full-h {
    height: 100%;
}

.full-w {
    width: 100%;
}

.darker-hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.bottom {
    position: absolute;
    bottom: 0%;
    border-radius: 0 0 1em 1em;
}

.bottom.full-w>.center {
    margin-bottom: 0;
    margin-left: 0;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.round {
    border-radius: 50%;
    background: #f5940d;
    width: 1em;
    height: 1em;
    text-align: center;
    justify-content: center;
}

.round::after {
    content: none;
}

.round:hover {
    box-shadow: none;
}

.center-flex {
    display: flex;
    justify-content: center;
}

.right.full-h,
.left.full-h {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-top {
    position: absolute;
    top: 0;
    right: 0;
    justify-self: flex-start;
}

.status {
    height: 2em;
    line-height: 2em;
    font-size: 1.5em;
    border-radius: 0 0 0.5em 0.5em;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    padding: 0 1em 0 1em;
}

.fl-right {
    float: right;
    align-self: flex-end;
    margin-left: auto;
}

.green {
    color: rgb(29, 168, 2);
}

.badge {
    width: 1.5em;
    text-align: center;
    font-size: 1.15em !important;
}

.footer {
    margin-top: auto;
    padding: 0.2em;
}

.flex-row {
    font-size: 1.15em;
    margin: 0.5em;
    margin-top: 0;
    padding: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-row>* {
    margin: 0.2em;
}

.center-flex-item {
    align-self: center;
}

.fixed {
    position: fixed;
}

.credits {
    font-size: 1.25em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.88);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear {
    background: transparent;
    align-items: initial;
    border-radius: 0;
}

table {
    width: 100%;
}

table,
th,
td {
    border: none;
    border-collapse: collapse;
}

td {
    padding: 0;
}

.dark-button {
    transition: all 0.15s ease-out;
}

.dark-button:hover {
    box-shadow: 0.2em 0.2em 0.2em 0em white;
}

.half-width {
    width: 50%;
}

.text-sized-img {
    height: 1.15em !important;
    width: auto;
}

.active {
    background: linear-gradient(45deg, #f5940d 30%, #e2247d 70%);
}

.grass_yellow {
    color: rgb(243, 219, 81);
}

.grass_lively {
    color: #73ff53;
}

.grass_normal {
    color: #c1f84e;
}

.grass_dark {
    color: #2fad69;
}