html,
body {
    margin: 0;
    font-family: 'Courier New', monospace;
    font-size: 1em;
    overflow:auto;
}

h1 {
    margin-left: 1em;
}

canvas {
    z-index: -1;
}

.canvas {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    position: fixed;
}

.mainCanvas {
    width: 70%;
    height: 100%;
    left: 30%;
    top: 0;
    display: block;
    position: absolute;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.wide {
    width: 100%;
}

.hidden,
.hidden * {
    display: none !important;
}

.button {
    font-size: 1.15em;
    margin: 0.5em;
    background-color: orange;
    border-radius: 1.15em;
    transition: background-color 0.2s ease-in;
    padding: 0.5em;
    display: flex;
    align-items: center;
}

button:hover,
.button:hover {
    cursor: pointer;
    background-color: rgb(221, 147, 9);
}

#animal_builder {
    display: block;
    position: relative;
    font-size: 1.25em;
    margin: 0.5em;
    margin-top: 0;
}

#smallCanvas {
    width: 100%;
    display: flex;
}

.controls {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: rgb(221, 147, 9) solid 1px;
    border-radius: 1em;
}

.white {
    color: white;
}

.right {
    position: absolute;
    right: 0em;
    border-radius: 0 1em 1em 0em;
}

.left {
    position: absolute;
    left: 0em;
    border-radius: 1em 0 0em 1em;
}

.top-half {
    top: 45%;
    justify-self: center;
}

.full-h,
.full-w {
    transition: background-color 0.3s ease-in;
}

.full-h {
    height: 100%;
}

.full-w {
    width: 100%;
    text-align: center;
}

.full-h:hover,
.full-w:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.bottom {
    position: absolute;
    bottom: 0%;
    border-radius: 0 0 1em 1em;
}

.bottom.full-w>.center {
    margin-bottom: 0;
    margin-left: 0;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.round {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    text-align: center;
    justify-content: center;
}

.center-flex {
    display: flex;
    justify-content: center;
}

.right.full-h,
.left.full-h {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-top {
    position: absolute;
    top: 0;
    right: 0;
    justify-self: flex-start;
}

.status {
    height: 2em;
    line-height: 2em;
    font-size: 1.5em;
    border-radius: 0 0 0.5em 0.5em;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    padding: 0 1em 0 1em;
}

.fl-right {
    float: right;
    align-self: flex-end;
    margin-left: auto;
}

.green {
    color: green;
}

.badge {
    width: 1.5em;
    text-align: center;
    font-size: 1.15em !important;
}

.footer {
    margin-top: auto;
    padding: 0.2em;
}