html,
body {
    margin: 0;
    font-family: 'Courier New', monospace;
    font-weight: 600;
    font-size: 1em;
    overflow: auto;
    width: 100%;
    height: 100%;
	font-size: 1.15em;
}

.pageOrganizer {
	display: flex;
	flex: 1 1;
}

input[type=submit] {
	font: inherit
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wrapper{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.wrapper label{
	align-self: flex-start;
}

.wrapper > *{
	width: 100%;
}

input[type=submit] {
	border: none;
}

input[type=number] {
	border: none;
	margin-bottom: 1em;
	margin-top: 0.5em;
	border-bottom: 1px solid #000;
	font-size: 0.9em;
}

.required:after {
    content:" *";
    color: red;
  }

.button {
    font-size: 1em;
    margin: 0.5em;
    background: linear-gradient(170deg, #f5940d 30%, #e2247d 70%);
    background-size: 200% 100%;
    background-position: 0px 0px;
    border-radius: 1.15em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
    position: relative;
}

.button:hover,
button:hover {
    cursor: pointer;
    background-position-x: 40%;
}

.button::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -0.3em;
    height: 100%;
    width: 45%;
    opacity: 0;
    border-radius: inherit;
    /* Declaring our shadow color inherit from the parent (button) */
    background: inherit;
    /* Transition for the magic */
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

table {
    width: 100%;
	font-size: 1em;
}

table,
th,
td,
thead {
    border: none;
    border-collapse: collapse;
}

thead {
	border-bottom: black solid 2px;
	padding-bottom: 5em;
}

td {
    padding: 0;
	text-align: right;
}

.top {
    position: absolute;
    top: 0%;
    border-radius: 1em 1em 0 0;
}

.left {
    position: absolute;
    left: 0em;
    border-radius: 1em 0 0em 1em;
}

.fixed {
    position: fixed;
}

.w-50 {
	width: 50% !important;
}

.w-25 {
	width: 25% !important;
}

.box {
	height: 100vh;
	padding-left: 1em;
	padding-right: 1em;
}

.history a{
	overflow-wrap: anywhere;
	padding-bottom: 0.5em;
}

a,
a:visited {
	/*
    color: inherit;
	text-decoration: none;
	*/
}
